.footer{
    background-color: #0D0A51;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    padding: 4rem;
}
.p{
  position: relative;
  bottom:1.5rem;
}
.content h3{
    font-size: 1.3rem;
    padding-bottom: 1rem;
    letter-spacing: .4px;
}
.content p{
 font-weight: 300;
}
.content input{
    padding: .4rem;
    width: 9.5rem;
}
